<!DOCTYPE html>
<html lang="en">
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Hi <%= @user.full_name %>,</h1>
	<p>Welcome to Clonebook! You should have been automatically logged in, but for your reference here is the link to login: <%= @login_url %></p>
	<p>Thanks for joining us and have a great day!</p>
	<br>
	<p>Best Wishes,</p>
	<p>Andrew Chung</p>
	<p>Lead Developer</p>

</body>
</html>