<!DOCTYPE html>
<html lang="en">
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Welcome, <%= @user.full_name %>!</h1>
	<p>You have successfully signed up for Clonebook.</p>
	<p>You should have been automatically logged in, but for your reference here is the link to login: <%= @login_url %></p>
	<p>If you signed in through Facebook, you'll need to use the following link instead: <%= @facebook_login_url %> </p>
	<p>Thanks for joining us and have a great day!</p>
	<br>
	<p>Best Wishes,</p>
	<p>Andrew Chung</p>
	<p>Lead Developer</p>

</body>
</html>