<div class="container">
	<h1>All Users</h1>
	
	<% @non_friends.each do |user| %>

		<div class="panel panel-default friend-menu">
			<h3><%= link_to user.full_name, user_posts_path(user), class: "full-name" %></h3>
		
			<!-- if there is a pending request sent by current user, show as pending acceptance -->
			<% if current_user.accepters.include?(user) %>

			<button class="btn btn-warning">
				Pending Acceptance
			</button>
			
			<!-- elsif there is a pending request sent to current_user, show confirm and reject buttons -->
			<% elsif current_user.requesters.include?(user) %>

				<%= link_to "Confirm", friendship_path(requester_id: user, id: current_user), method: :patch, class: "btn btn-success" %>

			<%= link_to "Delete Request", friendship_path(friend_id: user, id: current_user), method: :delete, class: "btn btn-danger" %>

			<!-- else (i.e. if there is no pending friendship request) -->
			<% else %>

			<%= link_to "Add Friend", friendships_path(accepter_id: user), method: :post, class: "btn btn-primary" %>

			<% end %>

		</div>

	<% end %>

</div>

<!-- Case 1: No friend request sent or received (i.e. no friendship exists)
     Case 2: Friend request sent by current user (pending friendship - sent by current user)
     Case 3: Friend request received by current user (pending friendship - acceptance from current user)
     Case 4: Already friends (friendship exists and the accepted column has a value of true)
-->