<div class="container">
	<h1>All Users</h1>
	
	<% @users.each do |user| %>

		<div class="panel panel-default friend-menu">
			<h3><%= link_to user.full_name, user_posts_path(user), class: "full-name" %></h3>
			
			<!-- relevant friend buttons depending on friendship status (existing friend, pending request, no request) -->
			<%= render 'friendships/friend_buttons', user: user %>

		</div>

	<% end %>

</div>

<!-- Case 1: No friend request sent or received (i.e. no friendship exists)
     Case 2: Friend request sent by current user (pending friendship - sent by current user)
     Case 3: Friend request received by current user (pending friendship - acceptance from current user)
     Case 4: Already friends (friendship exists and the accepted column has a value of true)
-->