<div class="container-fluid jumbotron">
	<div class="container">
		<h1>About</h1>

		<p>Welcome to bloggR, a simple blogging site with social networking features that was inspired by Facebook! I created this site to serve as my final project for <a href="http://www.theodinproject.com">The Odin Project's</a> section on Rails. BloggR was built using HTML, CSS (with Bootstrap and SASS), Ruby, and Rails using a PostgreSQL database.
		</p>

		<p>I plan on adding/modifying features (with a focus on adding interactivity through JavaScript and jQuery) as I continue to learn and improve upon my web development skills, so you may see some changes moving forward.</p>

		<p>Join me in my journey and <%= link_to "sign up", new_user_registration_path %> for an account today!</p>
	</div>
</div>