<div class="container">
	<div class="row">

		<!-- Quick Info -->
		<div class="col-xs-6 quick-info">
			<h2>Connect with friends and the world around you on Clonebook.</h2>
		</div>

		<div class="col-xs-6">
			<!-- move signup form into partial and render it here -->
			<h1>Welcome to clonebook</h1>
			<p>The time is <%= Time.now %>.</p>

		</div>

	</div>
</div>