<!-- if user is already current_user's friend -->
<% unless current_user == user %>

	<% if current_user.friends.include?(user) %>

		<%= link_to "Remove Friend", friendship_path(friend_id: user, id: current_user), method: :delete, class: "btn btn-danger" %>

	<!-- else (if user is not current_user's friend) -->
	<% else %>

		<!-- if there is a pending request sent by current user, show as pending acceptance -->
		<% if current_user.accepters.include?(user) %>

		<button class="btn btn-warning">
			Pending Acceptance
		</button>
		
		<!-- elsif there is a pending request sent to current_user, show confirm and reject buttons -->
		<% elsif current_user.requesters.include?(user) %>

		<%= link_to "Confirm", friendship_path(requester_id: user, id: current_user), method: :patch, class: "btn btn-success" %>

		<%= link_to "Delete Request", friendship_path(friend_id: user, id: current_user), method: :delete, class: "btn btn-danger" %>

		<!-- else (if you are not friends and neither of you has sent a friend request to the other) -->
		<% else %>

		<%= link_to "Add Friend", friendships_path(accepter_id: user), method: :post, class: "btn btn-primary" %>

		<% end %>

	<% end %>

<% end %>