<div class="container">
	<h1>Pending Friend Requests</h1>

	<% if current_user.accepting_friendships.any? %>
	<!-- show pending friend requests -->
		<% @pending_friendships.each do |friendship| %>

			<div class="panel panel-default">
				<div class="panel-body">
					<%= friendship.requester.first_name %> <%= friendship.requester.last_name %>
					<%= link_to "Confirm", friendship_path(requester_id: friendship.requester), method: :patch, class: "btn btn-success" %>
					<%= link_to "Delete Request", friendship_path(friend_id: friendship.requester), method: :delete, class: "btn btn-danger" %>
				</div>
			</div>
		<% end %>

	<% else %>
		<p>No pending friend requests.</p>

	<% end %>
</div>