<!-- User's Public Profile Page -->
<div class="container-fluid body-content">

	<div class="container">
		<h1><%= @user.full_name %></h1>
	</div>

	<!-- Profile Info -->
	<%= render 'users/profile' %>

	<!-- New Post Section -->
	<%= render 'posts/post_form' %>

	<!-- Posts (user and user's friends) -->

	<%= render 'posts/timeline_posts' %>

</div>