@import "bootstrap-sprockets";
@import "bootstrap";

/* Global Variables */
$header-background: #2e2e1f;
$header-text: #fff;
$button-text: #555;
$hover-blue: #23527c;

/* Header */
.site-header {
	height: 100%;
	background-color: $header-background;
	color: $header-text;
	border-bottom: 1px solid #030;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
	
	*:hover {

	}

	a {
		color: $header-text;
	}

	a:hover {
		text-decoration: none;
		color: $hover-blue;
		transition: all 0.5s ease;
	}

	.logo {
		font-size: 45px;
		font-weight: bold;
		display: inline-block;
		margin-top: 5px;
	}

	.logo:hover {
		color: $hover-blue;
		transition: all 0.5s ease;
	}

	.btn {
		color: $button-text;
	  margin-top: 25px;
	  margin-left: 5px;
	  transition: all 0.5s ease;
	  border: none;
	}

	.btn:hover {
		color: #fff;
		background-color: $hover-blue;
	}

	.header-right-col {
		margin-top: -6.5px;
	}

	.form-group {
		cursor: pointer;
	}

	.form-group:hover,
	.form-group:active {
		color: $hover-blue;
		transition: all 0.5s ease;
	}
	
	.email-fields {
		margin-top: 6.5px;
	}

	.login-buttons {
		margin-top: -20px;
	}

}


/* Footer */
.site-footer {
	background-color: #fff;
	color: #3b5998;
	
	ul {
		padding: 0;
		
		li {
			list-style-type: none;
			display: inline-block;
			margin-right: 5px;
		}
	}
}

/* Panel Body 2 (class for comments nested in posts) */
.panel-body-2 {
	@extend .panel-body;
	margin-left: 10px;
}

/* Media Queries */
@media screen and (max-width: 1198px) {

	.site-header {

		.logo {
			margin-top: 0;
		}

	}
}