<footer class="container-fluid site-footer">

	<div class="container">
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#">Contribute to this Project</a></li>
			<li><a href="#">FAQs</a></li>
		</ul>
	</div>

</footer>