<footer class="container-fluid site-footer">

	<div class="container footer-links">
		<ul>
			<li><%= link_to "Sign In", new_user_session_path %></li>
			<li><%= link_to "Sign Up", new_user_registration_path %></li>
			<li><%= link_to "About", about_path %></li>
		</ul>

		<ul>
			<li><%= link_to "AyeSea's GitHub", "http://github.com/AyeSea" %></li>
		</ul>
	</div>

</footer>